<!DOCTYPE html>
<html>
<head>

</head>
<body>
<nav>
    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('liste_videos') }}">Vidéos</a></li>
        <li><a href="{{ path('recherche') }}">Recherche</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

</body>
</html>
