{% extends 'base.html.twig' %}

{% block title %}Liste des Chaînes{% endblock %}

{% block body %}
    <h1>Liste des Chaînes</h1>

    <ul>
        {% for chaine in chaines %}
            <li>{{ chaine.libelle }}</li>
        {% endfor %}
    </ul>
{% endblock %}
